$red: red;
$blue: blue;
$green: green;
$font-size: 1rem;

@mixin article($color, $border-color, $font-size) {
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
}

div {
    border: 1px solid $red;
    padding: 1rem;
    text-align: center;
    h1 {
        color: $green;
        text-decoration: underline $blue 2px;
    }
    section {
        display: flex;
        justify-content: center;
        article {
            width: 100%;
            border: 1px solid $green;
            padding: 1rem;
            &:nth-child(even) {
                @include article($red, $green, $font-size)
            }
            &:nth-child(odd) {
                @include article($blue, $green, $font-size)
            }
        }
        &:nth-child(3) {
            margin-top: 1rem;
            article {
                @include article($green, $blue, 24px)
            }
        }
    }
    
}